@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn{
    @apply hidden h-6 md:inline-flex
    cursor-pointer hover:scale-125 
    transition-all duration-150 ease-out;
  }

  .btn {
    @apply h-7 hover:scale-125 cursor-pointer
    transition-all duration-150 ease-out;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.articles {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:10px;
}

.news-app {
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

.news-header { 
  padding: 30px; 
  text-align: center; 
  background-color: #e5ded2; 
  font-size: 80px; 
  color: #4d4440; 
  font-family: 'Times New Roman', serif; 
} 
 
.news-subheader { 
  padding: 10px; 
  text-align: center; 
  background-color: #e5ded2; 
  font-size: 20px; 
  color: #766963; 
  font-family: 'Times New Roman', serif; 
}

.shop-header { 
  padding: 30px; 
  text-align: center; 
  background-color: #e5ded2; 
  font-size: 80px; 
  color: #4d4440; 
  font-family: 'Times New Roman', serif; 
} 

.shop-button {
  background-color: #766963; 
  border: none;
  width: 300px;
  margin-bottom: 16px;
  color: #e5ded2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.shop-button:hover {
  background-color: #e5ded2;
  color: #766963;
}

.shopnow-button {
  background-color: #766963; 
  border: none;
  margin-bottom: 16px;
  color: #e5ded2;
  padding: 10px 24px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.shopnow-button:hover {
  background-color: #e5ded2;
  color: #766963;
}
